.advantages
{
    padding-bottom: 70px;
}

.advantages__title
{
    font-family: $font-family-bold;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.04em;
    color: #4f4f6f;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 0px;
}

.advantages__title span
{
    display: block;
    font-family: $font-family-medium;
    font-size: 11px;
    text-transform: uppercase;
    color: #7d7d7d;
    text-align: center;
    position: relative;
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
}

.advantages__title span::before
{
    content: "";
    position: absolute;
    background-image: url("../img/ad_line.png");
    width:24px;
    height: 1px;
    top: 22px;
    left: 75px;
}

.advantages__title span::after
{
    content: "";
    position: absolute;
    background-image: url("../img/ad_line.png");
    width:24px;
    height: 1px;
    top: 22px;
    left: 0px; 
}