.main__content
{
  display: flex;
  flex-direction: row;
}

.catalog
{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog__card
{
  width: 265px;
  height: 320px;
  border-radius: 6px;
  margin-right: 40px;
  margin-bottom: 32px;
}

.card
{
  box-shadow: 0px 0px 19px 4px rgba(204, 204, 223, 0.14);
  border-radius: 6px;
}

.card:hover
{
  box-shadow: 0px 0px 50px 11px rgba(204, 204, 223, 0.53);
  border-radius: 6px;
}

.catalog__card:nth-child(3)
{
  margin-right: 0px;
}

.catalog__card:nth-child(6)
{
  margin-right: 0px;
}

.card__img
{
  height: 160px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #f0f5f8;
  text-align: center;
}


.card__img--sale::after
{
  content: "";
  position: absolute;
  background-image: url("../img/sale_icon.svg");
  width: 32px;
  height:32px;
  margin-top: 103px;
  margin-left: 23px;
}

.card__img--mrx::before
{
  content: "";
  position: absolute;
  background-image: url("../img/mrx.svg");
  width: 43px;
  height:9px;
  margin-left: -35px;
  margin-top: 10px;
}

.card__img--mini::before
{
  content: "";
  position: absolute;
  background-image: url("../img/mini.svg");
  width: 64px;
  height:24px;
  margin-left: -65px;
  margin-top: 10px;
}

.card__img--power::before
{
  content: "";
  position: absolute;
  background-image: url("../img/power.svg");
  width: 43px;
  height:14px;
  margin-left: -25px;
  margin-top: 10px;
}


.card__img--euro::before
{
  content: "";
  position: absolute;
  background-image: url("../img/empower.svg");
  width: 55px;
  height:14px;
  margin-left: -40px;
  margin-top: 10px;
}


.card__img img
{
  text-align: center;
  padding-top: 20px;
}

.card__img--mini img
{
  padding-top: 40px;
}

.card__text
{
  width: 215px;
  margin: 0 auto;
}

.card__text--ring
{
  width: 220px;
  margin: 0 auto;
}

.card__title
{
  font-family: $font-family-bold;
  font-size: 17px;
  line-height: auto;
  color: #4f4f6f;
  letter-spacing: -0.02em;
}

.card__links::before
{
  content: "";
  position: absolute;
  background-image: url("../img/line_bottom.png");
  width: 48px;
  height:1px;
  margin-top: -20px;
}

.card__links
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 35px;
}

.card__links a
{
  font-family: $font-family-bold;
  font-size: 12px;
  line-height: 20px;
  color: #9fa4af;
  text-decoration: none;
  padding-right: 12px;
  padding-bottom: 10px;
}

.card__links a:hover
{
  color: #00abc5;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .catalog {
    width: auto;
  }

  .catalog__content
  {
    display: flex;
    flex-direction: row;
      justify-content: space-around;
      margin-left: 35px;
  }

  .catalog__card {
    width: 250px;
    height: 320px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.catalog__card:nth-child(3)
{
  margin-right: 10px;
}

.catalog__card:nth-child(6)
{
  margin-right: 10px;

}
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .catalog
  {
    width: 80%;
    margin: 0 auto;
  }

  .catalog__card
  {
    width: 270px;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .catalog__card:nth-child(3)
  {
    margin: 0 auto;
  }

  .catalog__card:nth-child(6)
  {
    margin: 0 auto;

  }
}
