.characteristic
{
  width: 870px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 28px;
  margin-left: 0px;
}

.characteristic-product::before
{
  content: "";
  position: absolute;
  background-image: url("../img/product_bottom.svg");
  width: 870px;
  height: 1px;
}
.characteristic-advantages
{
  width: auto;
}

.characteristic__card
{
  width: 240px;
}

.characteristic-advantages .characteristic__card
{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.characteristic__all
{
  width: 180px;
  margin-left: 80px;
  position: relative;
}

.characteristic-advantages .characteristic__all
{
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.characteristic-product .characteristic__all::before
{
  content: "";
  position: absolute;
  background-image: url("../img/char_1.png");
  box-shadow: 0px 10px 45.39px 5.61px rgba(204, 204, 223, 0.45);
  border-radius: 50%;
  width: 50px;
  height:50px;
  left: -80px;
  top: 20px;
}

.characteristic-advantages .characteristic__all::before
{
  content: "";
  position: absolute;
  background-image: url("../img/char_1.png");
  box-shadow: 0px 10px 45.39px 5.61px rgba(204, 204, 223, 0.45);
  border-radius: 50%;
  width: 50px;
  height:50px;
  left: -80px;
}


.characteristic__all::before
{
  content: "";
  position: absolute;
  background-image: url("../img/char_1.png");
  box-shadow: 0px 10px 45.39px 5.61px rgba(204, 204, 223, 0.45);
  border-radius: 50%;
  width: 50px;
  height:50px;
  left: -80px;
}


.characteristic__title
{
  font-family: $font-family-medium;
  font-size: 15px;
  line-height: 71px;
  color: #4f4f6f;
}

.characteristic__description
{
  font-family: $font-family;
  font-size: 14px;
  line-height: 20px;
  color: #808899;
  margin-top: -30px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .characteristic
  {
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 40px;
  }

  .characteristic-product::before
{
  content: "";
  position: absolute;
  background-image: url("../img/product_bottom.svg");
  width: 470px;
  height: 1px;
}

  .characteristic-advantages
  {
    width: auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .characteristic
  {
    width:80%;
    margin: 0 auto;
  }

  .characteristic-product::before
  {
    content: "";
    position: absolute;
    background-image: url("../img/product_bottom.svg");
    width: 100%;
    max-width: 300px;
    height: 1px;
  }

  .characteristic__all
  {
    width: 100%;
    max-width: 210px;

  }

  .characteristic-advantages .characteristic__all
{
  width: 100%;
  max-width: 210px;
}


  .characteristic__card
  {
    width: auto;
    margin: 0 auto;
  }

  .characteristic__description
  {
    width: 100%;
    max-width: 200px;
  }
}
