.event__top
{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.event__description
{
   width: 520px;
   font-family: $font-family;
   font-size: 12px;
   line-height: 22px;
   color: #808899;
}

.event__bottom 
{
    margin-bottom: 50px;
}

.multiple-items img
{
    max-width: 100%;
    height: auto;
    text-align: center;
    display: inline-block;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
   .event__top
   {
       flex-direction: column;
   }
  }

  
@media screen and (min-width: 320px) and (max-width: 767px) {
    .event__top
   {
       flex-direction: column;
   }
}