.main-footer
{
  width: 100%;
  height: 285px;
  background-color: #000;
}


.footer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 65px;
}

.footer__main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.footer__list
{
  list-style-type: none;
  padding: 0;
}

.footer__item
{
  font-family: $font-family;
  color: #959595;
  font-size: 12px;
  line-height: 28px;
  padding-bottom: 2px;
  box-sizing: border-box;
}

.footer__list--nolink .footer__item
{
  padding-bottom: 10px;
}

.footer__item a
{
  font-family: $font-family;
  color: #959595;
  font-size: 12px;
  line-height: 28px;
  text-decoration: none;
}

.footer__item a:hover
{
  font-family: $font-family-medium;
  color: #fff;
  box-sizing: border-box;
}

.footer__item a::after {
  display:block;
  content:attr(title);
  font-family: $font-family-medium;
  color:#fff;
  overflow:hidden;
  visibility:hidden;
  margin-top: -20px;
}

.footer__item--title
{
  font-family: $font-family;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #4ad0e4;
}

.footer__item--text
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #979797;
  padding-top: 40px;
  padding-bottom: 0;
}

.footer__list--main
{
  display: none;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {

  .footer
  {
    width: 90%;
    margin: 0 auto;
  }

  .footer__list {

    list-style-type: none;
    padding-left: 0;

}

.footer__item
{
  width: auto;
}

.footer__list--main
{
  display: none;
}


}

@media screen and (min-width: 0px) and (max-width: 767px) {

  .main-footer
  {
    height: auto;
  }

  .footer
  {
    width: 80%;
    flex-direction: column;
    padding-top: 15px;
    margin: 0 auto;
  }

  .footer__main{
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer__list--main
{
  display: block;
}

.footer__list--main li
{
  padding-bottom: 15px;
}

.footer__item--text
{
  padding-top: 0;
}

  .footer__list
  {
    width: 50%;
  }

  .footer__list--mobile
  {
    display: none;
  }

  .footer__item {
    padding-bottom: 0px;
    width: auto;

}
}
