.main-header
{
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 5px 35px -5px rgba(4,91,141,0.11);
  margin-bottom: 20px;
}

.main-header__all
{
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7px;
}

.main-header__logo
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 138px;
}


.main-header__text
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 25px;
  color: #4f4f6f;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 2px;
}

.main-header__menu
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #00abc5;
}

.menu
{
  width: 100%;
  padding-left: 0px;
}

.menu__list
{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  align-items:center;
  padding-top: 5px;
  margin-left: -5px;

}



.menu__tablet
{
  display: none;
}

.menu__item
{
  display: inline-block;
  padding-right: 15px;
  padding-top: 0px;
  box-sizing: border-box;
}

.menu__item a
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 26px;
  color: #4f4f6f;
  text-transform: uppercase;
  text-decoration: none;
  display:inline-block;
}


.menu__item a:hover
{
  color: #00abc5;
  font-family: $font-family-medium;
}



.menu__item a::after {
  display:block;
  content:attr(title);
  font-family: $font-family-medium;
  color:#00abc5;
  overflow:hidden;
  visibility:hidden;
}

.main-header__info
{
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid #00abc5;
  padding-top: 5px;
}

.select__city
{
    width: 140px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    background: url("../img/arrow.png") no-repeat 96% 55%;
    font-family: $font-family;
    font-size: 11px;
    line-height: 28px;
    color: #4f4f6f;
    padding-left: 0px;
    background-color: #fff;
    width: auto;
    border: none;
    padding: 10px;
    padding-right: 20px;
    outline: none;
    cursor: pointer;
    
}

.select__city::-ms-expand {
    display: none;
}

.select__city option {
  color: #4f4f6f;
  box-sizing: content-box;
  filter: hue-rotate(125deg);
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}

.select__city option:hover {
  background-color: #00abc5;
}

.main-header__phone
{
  display: block;
}

.main-header__phone--desktop
{
  display: none;
}

.main-header__phone a
{
  font-family: $font-family-medium;
  font-size: 16px;
  line-height: 25px;
  color: #00abc5;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 5px;
  letter-spacing: -0.05em;
  margin-left: 15px;
}

.main-header__button
{
  width: 140px;
  background-color: #00abc5;
  border-radius: 20px;
  color: #fff;
  border: none;

}

.main-header__button a
{
    color: #fff;
    text-decoration: none;
    font-family: $font-family-medium;
    font-size: 12px;
    line-height: 28px;
    padding-bottom: 3px;

}


.main-header__search
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}

.main-header__img--search

{
  width: 75px;
  height: 100%;
  display:block;
  margin:auto;
  border-left:  1px solid #00abc5;
}

.main-header__img--search img
{
  display:block;
  margin:auto;
  padding-top: 25px;
}

.main-header__search-img
{width: 65px;
  height: 100%;
  display:block;
  margin:auto;
  border-left:  1px solid #00abc5;
}

.main-header__search-img img
{
  width: 20px;
  height: 20px;
  display:block;
	margin:auto;
  padding-left: 40px;
  padding-top: 23px;
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {

  .main-header
{
  width: 100%;
}

  .main-header__all
  {
    width: 100%;
  }

  .main-header__logo
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
  }

  .menu__list{
    width: 800px;
  }

  .menu__item
  {
    display: inline-block;
    padding-right: 15px;
    padding-top: 0px;
    box-sizing: border-box;
  }

  .menu__item:hover
  {
    display: inline-block;
    padding-right: 15px;
    padding-top: 0px;
    box-sizing: border-box;
  }

  .main-header__info
  {
    width: 480px;
    justify-content: space-between;
  }

  .main-header__info::before {

    display: none;

}


  .main-header__phone
  {
    display: none;
  }

  .main-header__phone--desktop
  {
    display: block;
  }

  .main-header__phone a
  {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 24px;
    color: #00abc5;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .main-header__button
  {
    width: 120px;
    background-color: #00abc5;
    border-radius: 20px;
    color: #fff;
    border: none;
    margin-right: 10px;
  }

  .main-header__search 
  {
    width: auto;
  }


  .main-header__img--search
  {
    width: 80px;
  }

  .main-header__search-img
  {
    display: none;
  }

  .menu__tablet
  {
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {

  
  .main-header
{
  width: 100%;
}


  .main-header__all
  {
    width: 100%;
  }

  .main-header__logo
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
  }

  .menu__list{
    width: 700px;
  }

  .menu__item
  {
    display: inline-block;
    padding-right: 15px;
    padding-top: 0px;
    box-sizing: border-box;
  }

  .menu__item:hover
  {
    display: inline-block;
    padding-right: 15px;
    padding-top: 0px;
    box-sizing: border-box;
  }

  
  .main-header__info
  {
    width: 480px;
    justify-content: space-between;
  }


  .main-header__info::before {
      display: none;
  }

  .main-header__phone
  {
    display: none;
  }

  .main-header__phone--desktop
  {
    display: block;
    padding-right: 20px;
  }

  .main-header__phone a
  {
    font-family: $font-family-medium;
    font-size: 14px;
    line-height: 24px;
    color: #00abc5;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .main-header__button
  {
    width: 120px;
    background-color: #00abc5;
    border-radius: 20px;
    color: #fff;
    border: none;
    margin-right: 10px;
  }

  
  .main-header__search 
  {
    width: auto;
  }



  .main-header__img--search
  {
    width: 80px;
  }

  .main-header__search-img
  {
    display: none;
  }

  .menu__tablet
  {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .main-header__all
  {
    width: 100%;
    justify-content: space-around;
  }

  .main-header__logo
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right:  1px solid #00abc5;
  }


  .main-header__text
  {
    padding-left: 0;
  }

  .menu
  {
    display: none;
  }
  .menu__tablet
  {
    display: block;
    width: 80px;
  }

  .main-header__menu::before {

    display: none;

}

.main-header__info
{
  width: 480px;
  justify-content: space-between;
  padding-right: 10px;
}

.main-header__phone a
{
  margin-left: 0;
}

.main-header__search 
  {
    width: auto;
  }

  .main-header__search-img
  {
    display: none;
  }


}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .main-header__all {

    height: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding-top: 7px;
    width: 100%;

}

  .main-header__logo
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding-right: 20px;
    border-right:  1px solid #00abc5;
  }

  .main-header__phone
{
  width: 130px;
}

  .main-header__phone a {
    font-family: "Geometria-Medium";
    font-size: 14px;
    line-height: 25px;
    color: #00abc5;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    letter-spacing: -0.05em;
}

  .main-header__text
  {
    margin-left: 0;
  }

  .menu
  {
    display: none;
  }
  .menu__tablet
  {
    display: block;
    width: 80px;
  }

  .main-header__search-img
  {
    display: none;
  }

  .main-header__city
  {
    display: none;
  }

  .main-header__city::after
  {
    display: none;
  }

  .main-header__button
  {
    display: none;
  }


  .main-header__img--search
  {
    display: none;
  }

  .main-header__info
  {
    min-width:auto;
    width: auto;
  }

  .main-header__search {

    display: none;

}
  }
