.news
{
    height:auto;
}

.news__title
{
    font-family: $font-family-bold;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.04em;
    color: #4f4f6f;
    text-align: center;
    padding-bottom: 20px;
}

.news__title::first-letter
{
   text-transform:uppercase;
}

.news__title span
{
    display: block;
    font-family: $font-family-medium;
    font-size: 11px;
    text-transform: uppercase;
    color: #7d7d7d;
    text-align: center;
    position: relative;
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
}

.news__title span::before
{
    content: "";
    position: absolute;
    background-image: url("../img/ad_line.png");
    width:24px;
    height: 1px;
    top: 22px;
    left: 75px;
}

.news__title span::after
{
    content: "";
    position: absolute;
    background-image: url("../img/ad_line.png");
    width:24px;
    height: 1px;
    top: 22px;
    left: 0px;
}

.news__block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

.news__card
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 32.8px 7.2px rgba(204, 204, 223, 0.22);
  background-color: #fff;
  margin-right: 0px;
}

.news__card--main
{
    width: 47%;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}


.news__card--main .news__img
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.news__card:nth-child(2)
{
    margin-right: 0;
}
.news__card:hover
{
  box-shadow: 0px 0px 50px 11px rgba(204, 204, 223, 0.53);
  border-radius: 10px;
}

.news__img
{
    flex: 0 0 30%;
    max-width: 30%;
    background-repeat: no-repeat;
    background-position: 72% 50%;
    background-size: cover;
}

.actions__block .news__img
{
    flex: 0 0 30%;
    max-width: 30%;
    background-repeat: no-repeat;
    background-position: 72% 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.news__info
{
    flex: 0 0 65%;
    max-width: 65%;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.news__card--main .news__info
{
    flex: auto;
}


.actions__block .news__info
{
    flex: 0 0 60%;
    max-width: 60%;
}
.news__lead
{
    font-family: $font-family-bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.04em;
    color: #4f4f6f;
    margin-top: 0;
}

.news__data
{
    font-family: $font-family-bold;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0em;
    color: #9fa4af;
    margin-top: -20px;
    position: relative;

    &--lecture
    {
        padding-top: 20px;
        margin-bottom: 30px;
    }
}


.news__data::after
{
    content: "";
    position: absolute;
    background-image: url("../img/data_line.png");
    width:70px;
    height: 1px;
    margin-top: 40px;
    margin-left: -150px;
}

.news__data--lecture::after
{
    content: "";
    position: absolute;
    background-image: url("../img/data_line.png");
    width:70px;
    height: 1px;
    margin-top: 30px;
    margin-left: -150px;
}

.actions__block .news__data::after
{
    content: "";
    position: absolute;
    background-image: url("../img/data_line.png");
    width:70px;
    height: 1px;
    top: 0px;
    left: 155px;
}

.news__text
{
    font-family: $font-family;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0em;
    color: #9fa4af;
    margin-top: 40px;
}

.news__link
{
    font-family: $font-family-bold;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0em;
    color: #00abc5;
    text-decoration: none;
}

.news__link:hover
{
    border-bottom: 1px solid #00abc5;
}

.news__button
{
  display: flex;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right:30px;
  border-radius:20px;
  border: 1px solid #00abc5;
  background-color: transparent;
  font-family: $font-family-bold;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4f4f6f;
  text-align:center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.news__button a
{
    color: #4f4f6f;
    text-decoration: none;
}

.news__button:hover
{
    border: 1px solid #000;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
    .news {
        height:auto;
        border-bottom: 13px solid #00ccdb;
    }

    .news__block
    {
        margin: 0 auto;
        width: 80%;
        flex-direction: column;
    }

    .news__card
    {
        margin: 0 auto;
        margin-bottom: 30px;
    }

        .news__card--main
    {
        width: auto;
        margin-bottom: 20px;
    }

    .news__button
    {
        margin-top: 30px;
    }

    .news__button:hover
    {
        margin-top: 30px;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 767px) {

    .news {
        height: auto;
        border-bottom: 13px solid #00ccdb;
    }


    .news__title
    {
        padding-bottom: 0;
    }

    .news__block
    {
        flex-direction: column;
    }

    .news__card
    {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .news__card--main
{
    flex-wrap: wrap;
}

    .news__card:nth-child(2) {
        margin-right: auto;
    }

    .news__img
    {
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .news__info
    {
        padding: 25px 15px;
        flex: 0 0 80%;
        max-width: 80%;
    }

    .news__lead
    {
        margin-top: 0;
    }

    .actions__block .news__data
    {
        font-size: 11px;
    }

    .news__button
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .news__button:hover
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .news__card--main .news__img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
    }

  }
