.product__content
{
  width: 100%;
}

.product
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product::after
{
  content: "";
  position: absolute;
  background-image: url("../img/product_bottom.svg");
  width: 870px;
  height: 1px;
  margin-top: 310px;
}

.product__image
{
  margin-top: -10px;
}
.product__info
{
    width: 410px;
    margin-left: 0px;
    padding-right: 40px;
}
.product__title
{
  font-family: $font-family-bold;
  font-size: 20px;
  line-height: 30px;
  color: #55c4da;
  margin-top: -5px;
}

.product__title span
{
  text-transform: uppercase;
  display: block;
}

.product__text
{
  width: 420px;
  font-family: $font-family-light;
  font-size: 12px;
  line-height: 22px;
  color: #4f4f6f;
  padding-left: 0px;
  padding-top: 5px;
}

.product__buy
{
  background-image: linear-gradient( 90deg, rgb(0,171,197) 0%, rgb(0,226,234) 100%);
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  width: 113px;
  height: 27px;
  border-radius: 14px;
  border: none;
  margin-top: 15px;
}

.product__buy a
{
  font-family: $font-family-bold;
  font-size: 10px;
  line-height: 23px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.product__test
{
  border: 1px solid #b7b7b7;
  background-color: inherit;
  width: 113px;
  height: 27px;
  font-family: $font-family;
  font-size: 10px;
  line-height: 23px;
  color: #b7b7b7;
  text-transform: uppercase;
  border-radius: 14px;
  margin-top: 15px;
  text-align: center;
  margin-left: 5px;
}

.white-popup-block
{
  width: 400px;
  height: 400px;
  background-color: #00d8e4;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  border-radius: 5px;
  padding-top: 40px;
}

.product__form-title
{
  font-family: "Geometria-Bold";
  font-size: 35px;
  line-height: auto;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.product__form-description
{
  font-family: "Geometria-Medium";
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product__form input[type="text"], .product__form input[type="tel"] {
  width: 200px;
  height: 30px;
  border-width: 1px;
  border-color: #4ddbe7;
  border-style: solid;
  border-radius: 16px;
  background-color: #fff;
  color: #808899;
  font-family: "Geometria-Medium";
  margin-right: 20px;
  padding-left: 15px;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 5px;

}

.product__form input::placeholder {
  font-family: $font-family-light;
  font-size: 12px;
  line-height: 25px;
  color: #808899;
}

.product__form input[type="submit"] {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  font-family: "Geometria-Medium";
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4f4f6f;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .product
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 130px;
  }


  .product::after
  {
    content: "";
    position: absolute;
    background-image: url("../img/product_bottom.svg");
    width: 470px;
    height: 1px;
    margin-top: 340px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .product
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
  }

  .product::after
  {
    content: "";
    position: absolute;
    background-image: url("../img/product_bottom.svg");
    width: 300px;
    height: 1px;
    margin-top: 290px;
  }

  .product__image img
  {
    width: 300px;
    margin: 0 auto;
  }

  .product__info
  {
    width: 300px;
    padding-right: 0;
  }

  .product__title
  {
    width: 300px;
    padding-top: 20px;
  }

  .product__text
  {
    width: 300px;
  }

  
.white-popup-block
{
  width:280px;
  height:400px;
  background-color: #00d8e4;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  border-radius: 5px;
  padding-top: 40px;
}


}
