.sidebar
{
  width: 280px;
}

.sidebar-product
{
  width: 160px;
  margin-left: 50px;
}

.sidebar__title
{
  font-family: $font-family-bold;
  font-size: 19px;
  line-height: 72px;
  color: #00abc5;
  margin-top: -15px;
  position: relative;
  &--product
  {
    font-family: $font-family-medium;
    font-size: 15px;
    line-height: 61px;
    letter-spacing: -0.04em;
    color: #4f4f6f;
    margin-top: -22px;
  }
}

.sidebar__title::before
{
  content: "";
  position: absolute;
  background-image: url("../img/line_prod.png");
  width: 205px;
  height: 1px;
  top: 66px;
}


.sidebar__menu
{
  padding-left: 0;
  padding-top: 0px;
}

.sidebar-product .sidebar__menu
{
  margin-top: 40px;
}

.sidebar__submenu ul
{
  list-style-type: none;
  width: 150px;
  padding-left: 35px;
}

.sidebar__item
{
  padding-top: 15px;
}

.sidebar__item--product
{
  padding-top: 5px;
}

.sidebar__item a
{
  font-family: $font-family;
  font-size: 12px;
  line-height: auto;
  color: #4f4f6f;
  text-decoration: none;
}

.sidebar__item--product a
{
  font-size: 10px;
  color: #b3b3b3;
}

.sidebar__item a:hover
{
  font-family: $font-family;
  color: #00abc5;
  border-bottom: 1px solid #00abc5;
}

.sidebar__item a:active
{
  font-family: $font-family;
  color: #00abc5;
  border-bottom: 1px solid #00abc5;
}

.sidebar__menu input[type=checkbox] {
	position: absolute;
	opacity: 0;
}
.sidebar__menu label, .sidebar-menu a {
	position: relative;
	display: block;
	background: #fff;
  font-family: $font-family-medium;
  font-size: 12px;
  line-height: auto;
  color: #4f4f6f;
  text-transform: uppercase;
  text-decoration: none;
}

.sidebar__menu--product label, .sidebar-menu--product a {
	position: relative;
	display: block;
	background: #fff;
  font-family: $font-family-medium;
  font-size: 10px;
  line-height: auto;
  color: #b3b3b3;
  text-transform: uppercase;
  text-decoration: none;
}

.sidebar__menu label:hover
{
  font-family: $font-family-bold;
  color: #00abc5;
  cursor: pointer;
}

.sidebar__menu label:active
{
  font-family: $font-family-bold;
  color: #00abc5;
  cursor: pointer;
}

.sidebar__menu--product .sidebar__submenu
{
  list-style-type: none;
  padding-bottom: 18px;
  width: 180px;
}

.sidebar__submenu
{
  list-style-type: none;
  padding-bottom: 18px;
  width: 230px;
}


.sidebar__menu ul {
	display: none;
  margin-top: -5px;
}

.sidebar__submenu ul,
.sidebar__submenu label:nth-of-type(n) + ul

{
  display: none;
}

.sidebar__submenu input[type=checkbox]:checked + label + ul
{
  font-family: $font-family-medium;
  font-size: 12px;
  line-height: 25px;
  color: #00abc5;
  padding-top: 10px;
}


.sidebar__submenu input[type=checkbox]:not(:checked) + label + ul,
.sidebar__submenu input[type=checkbox]:not(:checked) + label:nth-of-type(n) + ul {
	display: block;
}


@media screen and (min-width: 1280px) and (max-width: 1600px) {

  .sidebar
  {
    width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {

  .sidebar
  {
    width: 200px;
  }

  .sidebar-product
  {
    width: 160px;
    margin-left: 0px;
  }

  .sidebar__title {
    font-family: "Geometria-Bold";
    font-size: 20px;
    line-height: 72px;
    color: #00abc5;
    margin-left: 20px;
}

.sidebar__title::before
{
  content: "";
  position: absolute;
  background-image: url("../img/line_prod.png");
  width: 180px;
  height: 1px;
  margin-top: 65px;
}


.sidebar__title--categories::before
{
  content: "";
  position: absolute;
  background-image: url("../img/line_prod.png");
  width: 205px;
  height: 1px;
  top: 10px;
}

  .sidebar__submenu {
    list-style-type: none;
    padding-bottom: 20px;
    width: 160px;
    padding-left: 20px;
}
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .sidebar
  {
    display: block;
    width: 240px;
    margin: 0 auto;
  }
}
