.videos
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

#player
{
  width: 646px;
  height: 281px;
}

#webinar
{
  width: 861px;
  height: 442px;
}

.start-video {
    position: absolute;
    padding: 12px;
    margin-top: -180px;
    margin-left: 280px;
    opacity: 1;
    border-radius: 50%;
    background-image:( 90deg, rgb(0,171,197) 0%, rgb(0,226,234) 100%);
    box-shadow: 6.466px 8.899px 18.69px 2.31px rgba(58, 58, 68, 0.18);
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
}

.start-video:hover
{
    opacity: 1;
}

.start-webinar
{
  margin-top: -270px;
  margin-left: 400px;
}

.start-clip
{
  margin-top: -220px;
  margin-left: 320px; 
}

div.thumbnail_container
{
    width: 646px;
    height: 281px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../img/video.png");
}


div.thumbnail__webinar
{
    width: 861px;
    height: 442px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../img/webinar_video.png");
}

div.thumbnail__clip
{
    width: 780px;
    height: 339px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../img/video_clip.png");
}

img.thumbnail
{
    margin-top: 0px;
    opacity: 0.5;
}

.videos__info
{
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -20px;
  margin-right: 20px;
}

.videos__card
{
  display: flex;
  flex-direction: column;
}

.videos__card--second
{
  margin-bottom: 12px;
}
.videos__title
{
  font-family: $font-family-medium;
  font-size: 14px;
  line-height: 24px;
  color: #4f4f6f;
}

.videos__description
{
  font-family: $font-family;
  font-size: 12px;
  line-height: 20px;
  color: #808899;
  margin-top: -5px;
}

.videos__button
{
  width: 111px;
  height: 27px;
  border-radius: 14px;
  font-family: $font-family-bold;
  font-size: 10px;
  line-height: 23px;
  text-transform: uppercase;
  &--one
  {
    background-image:linear-gradient( 90deg, rgb(0,171,197) 0%, rgb(0,226,234) 100%);
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    border: none;
    color: #fff;

  }
  &--two
  {
    border-width: 1px;
    border-color: rgb(0, 171, 197);
    border-style: solid;
    background-color: inherit;
    color: #b7b7b7;
  }
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
.videos
{
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#player
{
  width: 570px;
}

div.thumbnail_container
{
    width: 570px;
    height: 248px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../img/video_tablet.png");
}

div.thumbnail__clip
{
    width: 545px;
    height: 237px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../img/tablet_clip.png");
}



.start-video {
    position: absolute;
    padding: 12px;
    margin-top: -160px;
    margin-left: 250px;
  }

  .videos__info
  {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.videos__card
{
  width: 230px;
}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .videos
  {
    flex-direction: column;
    width: 280px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .videos__block
  {
    width: 280px;
    margin: 0 auto;
  }

  #player
  {
    width: 300px;
  }

  div.thumbnail_container
  {
      width: 280px;
      height: 122px;
      overflow: hidden;
      background-color: #fff;
      background-image: url("../img/video_mobile.png");
      margin-left: -10px;
      }

      
div.thumbnail__clip
{
    width: 180px;
    height:78px;
    overflow: hidden;
    background-color: #fff;
    background-image: url("../img/mobile_clip.png");
}

  .start-video {
      position: absolute;
      padding: 12px;
      margin-top: -110px;
      margin-left: 90px;
    }

    .start-clip
    {
      position: absolute;
      padding: 12px;
      margin-top: -65px;
      margin-left: 60px;
  }

  .start-clip img 
  {
    width: 30px;
  }

    .videos__info
    {
      width: auto;
      margin: 0 auto;
    }
}
