.webinar__info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 110px;
    margin-top: -10px;
    position: relative;
}

.webinar__info::before
{
  content: "";
  position: absolute;
  background-image: url("../img/product_bottom.svg");
  width:870px;
  height: 1px;
  top: -20px;
}


.webinar__title
{
    font-family: $font-family-bold;
    font-size: 20px;
    color: rgb(0, 171, 197);
    font-weight: bold;
    line-height:72px;
    letter-spacing: -0.04em;
    margin-top: -20px;
    margin-left: -5px;
    letter-spacing: -0.04em;
    position: relative;       
}

.webinar__title span
{
    font-size: 20px;
    font-family: "Geometria";
    color: #d7d7d7;
    font-weight: bold;
    line-height:72px;
    letter-spacing: -0.04em;  
    padding-left: 10px;
}

.webinar__text
{
    display: flex;
    flex-direction: column;
}

.webinar__text p
{
    width: 205px;
    font-family: $font-family;
    font-size: 12px;
    line-height:32px;
    color: #808899;
    padding: 0;
    margin: 0;

}

.webinar__video
{
    padding-left: 0px;
}

.webinar__block
{
    margin-top: 10px;
    position: relative;
}


@media screen and (min-width: 768px) and (max-width: 1279px) {


    .webinar__info
{
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.webinar__title
{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.webinar__text p
{
    width: 80%;
    font-family: $font-family;
    font-size: 12px;
    line-height:32px;
    color: #808899;

}

.webinar__info::before
{
  content: "";
  position: absolute;
  background-image: url("../img/product_bottom.svg");
  width:470px;
  height: 1px;
  top: -20px;
}


}


@media screen and (min-width: 0px) and (max-width: 767px) {

    
    .webinar__info
{
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.webinar__title
{
    width: 80%;
    margin: 0 auto;
}

.webinar__text p{
    width: 80%;
    font-family: $font-family;
    font-size: 12px;
    line-height:32px;
    color: #808899;

}

.webinar__info::before
{
  display: none;
}




}