@import "variables.scss";
@import "blocks/normalize.scss";
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/menu_tablet.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/sidebar.scss";
@import "blocks/catalog.scss";
@import "blocks/question.scss";
@import "blocks/contacts.scss";
@import "blocks/messages.scss";
@import "blocks/product.scss";
@import "blocks/characteristic.scss";
@import "blocks/images.scss";
@import "blocks/videos.scss";
@import "blocks/promo.scss";
@import "blocks/result_search.scss";
@import "blocks/study.scss";
@import "blocks/webinar.scss";
@import "blocks/slick.scss";
@import "blocks/slick-theme.scss";
@import "blocks/event.scss";
@import "blocks/about.scss";
@import "blocks/flickerplate.scss";
@import "blocks/index.scss";
@import "blocks/advantages.scss";
@import "blocks/notes.scss";
@import "blocks/news.scss";
@import "blocks/campaigns.scss";
@import "blocks/categories.scss";
@import "blocks/actions.scss";
@import "blocks/data.scss";
@import "blocks/articles.scss";
@import "blocks/magnific.scss";
@import "blocks/footer.scss";

@font-face {
    font-family: "Geometria";
    src: url("../fonts/geometria/Geometria.eot") format('eot'),
         url("../fonts/geometria/Geometria.woff") format('woff'),
         url("../fonts/geometria/Geometria.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Geometria-Light";
  src: url("../fonts/geometria/Geometria-Light.eot") format('eot'),
       url("../fonts/geometria/Geometria-Light.woff") format('woff'),
       url("../fonts/geometria/Geometria-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Geometria-Medium";
  src: url("../fonts/geometria/Geometria-Medium.eot") format('eot'),
       url("../fonts/geometria/Geometria-Medium.woff") format('woff'),
       url("../fonts/geometria/Geometria-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

  @font-face {
    font-family: "Geometria-Bold";
    src: url("../fonts/geometria/Geometria-Bold.eot") format('eot'),
         url("../fonts/geometria/Geometria-Bold.woff") format('woff'),
         url("../fonts/geometria/Geometria-Bold.ttf") format('truetype');
      font-weight: 700;
      font-style: normal;
  }